body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f2f2f2;
}

/* HEADER */
.amazon-header {
  background: #131921;
  color: white;
  display: flex;
  padding: 10px 20px;
  align-items: center;
  gap: 10px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.amazon-header input {
  flex: 1;
  padding: 7px;
  border-radius: 4px;
  border: none;
}

/* GRID */
.amazon-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 12px;
  padding: 15px;
}

/* CARD */
.amazon-card {
  background: white;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease;
}

.amazon-card:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px rgba(0,0,0,.15);
}

.amazon-card img {
  height: 150px;
  object-fit: contain;
}

.info h4 {
  font-size: 14px;
  margin: 5px 0;
}

.price {
  font-weight: bold;
  margin-bottom: 6px;
}

.amazon-card button {
  background: #f0c14b;
  border: 1px solid #a88734;
  padding: 6px;
  cursor: pointer;
}
